<div style="width: 100%;">
    <h2 id="title">@ViewBag.Title</h2> <br> <br>
    <div style="min-width: 500px; max-width:600px">
        <div style="float: left; clear: none; width: 47%;">
            <span>EMAILS</span> <br>

            @using (Html.BeginForm("DeleteEmail", "QualityScore", FormMethod.Post))
            {
                <select name="email" size="10" style="width: 100%; max-width: 100%">
                    @foreach (string email in ViewBag.EmailList)
                    {
                        <option value="@email">@email</option>
                    }
                </select>
                <input type="submit" id="email_delete" value="Delete" />
                <input name="qsid" style="display: none" value="@ViewBag.QSID" />
                <input name="token" style="display: none" value="@ViewBag.Token" />
            }

            @using (Html.BeginForm("PostEmail", "QualityScore", FormMethod.Post))
            {
                <input type="submit" id="email_create" value="Create" />
                <input name="email" />
                <input name="qsid" style="display: none" value="@ViewBag.QSID"/>
                <input name="token" style="display: none" value="@ViewBag.Token" />
            }

        </div>

        <div style="float: right; clear: none; width: 47%;">
            <span>KEYWORDS</span><br>
            @using (Html.BeginForm("DeleteBrand", "QualityScore", FormMethod.Post))
            {
                <select name="keyword" size="10" style="width: 100%; max-width: 100%">
                    @foreach (string keyword in ViewBag.KeywordList)
                    {
                        <option value="@keyword">@keyword</option>
                    }
                </select>
                <input type="submit" id="keyword_delete" value="Delete" />
                <input name="qsid" style="display: none" value="@ViewBag.QSID"/>
                <input name="token" style="display: none" value="@ViewBag.Token" />
            }

            @using (Html.BeginForm("PostBrand", "QualityScore", FormMethod.Post))
            {
                <input type="submit" id="keyword_create" value="Create" />
                <input name="keyword" />
                <input name="qsid" style="display: none" value="@ViewBag.QSID"/>
                <input name="token" style="display: none" value="@ViewBag.Token" />
            }
        </div>
    </div>
</div>

